/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */



/***************         ******************************/
html, body, h1, h2, h3, h4, h5, p, ul { 
  margin: 0; 
  padding: 0; 
  } 

body { 
  font-family: 'Montserrat', sans-serif;
  background: #ffff;
  color: #333333;
  font-size: 14px;
  } 
a img, :link img, :visited img { 
  border: 0; 
  }

a{
  color: #333333;
  text-decoration: none;
}
div, header, section, p, a, img, body, html, input, textarea, footer, button{ 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
}

.content-news p{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  padding-right: 90px;
  padding-bottom: 20px;
}

img{
  max-width: 100%;
}
*:focus{
  outline: none;
}
.container.no-padding {
  padding: 0;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  color: #333333;
  max-width: 415px;
  margin-bottom: 10px;
}

div.container p.date {
  font-size: 13px;
  color: #333333;
  opacity: 0.3;
  font-weight: 700;
  margin-bottom: 10px;
  
}

.share {
  font-size: 13px;
  color: #333333;
  opacity: 0.3;
  padding-right: 50px;
  font-weight: 700;
}

.icons-w {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 21px;
  
}

.cards-news {
  padding-bottom: 65px;
}


/**************************************
***********Support*********************
**************************************/

.support-elements {
margin-bottom: 25px;
display: flex;
}

.support-h {
  font-weight: 800;
  font-size: 26px;
  font-style: normal;
  color: #505050;
  margin-bottom: 26px;
}


.support-c {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  color: #333333;
  margin-bottom: 30px;
  max-width: 456px;
}

.support-f {
  font-weight: 700;
  font-style: 18px;
  font-style: normal;
  color: #333333;
  margin-bottom: 30px;
}

.circle {
  position:absolute;
  z-index: 100;
  top: -15px;
  left: 48%;
  transform: translateX(-50%);
  width: 37px;
  height: 37px;
  border-radius: 50px;
  background-color: #000080;
  text-align: center;
  color: #fff;
  font-style: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.4%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.square {
  position: relative;
  width: 335px;
  height: 101px;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square p{
  font-size: 13px;
  text-align: center;
}

.container-bg {
  background: #0D183F;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-service {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  color: #868B9F;
  margin-top: 75px;
  margin-bottom: 12px;
}

.custom-service::before {
  content: url(../assets/img/customer-service.png);
  margin-right: 5px;
}

.remote-service {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  color: #868B9F;
  margin-top: 75px;
  margin-bottom: 12px;
}

.remote-service::before {
  content: url(../assets/img/remote-service.png);
  margin-right: 5px;
}

.service-content {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  width: 379px;
  margin-bottom: 13px;
}

.service-number {
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  color: #FF8C00;
}

.button-service {
  margin-bottom: 100px;
}

/**************************************
***********Documents*********************
**************************************/

.background-doc {
  position: relative;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 246px;
  height: 358px;
}

.document {
    width: 228px;
    height: 337.41px;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.status-doc {
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #61B421;
  margin-bottom: 10px;
}

.info-doc {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: #C2C2C2;
  margin-bottom: 10px;
  
}

.info-doc-name {
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: #C2C2C2;
  margin-top: 15px;
  margin-bottom: 10px;


}

.date-doc1{
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  color: #333333 !important;
  margin-left: 60px;
}


.date-doc {
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  color: #333333 !important;
  margin-left: 10px;
}

.gostdoc-ru{
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #333333;
  width: 191px;
}

.gostdoc-ru::before {
  content: url(../assets/img/russ1.png);
  margin-right: 5px;
}

.gostdoc-eng {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #333333;
  width: 191px;
}

.gostdoc-eng::before {
  content: url(../assets/img/usa1.png);
  margin-right: 5px;
}

.doctype-doc {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
  display: flex;
}

.doctype-con {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  width: 516px;
}

.print-doc{
font-weight: 600;
font-style: normal;
font-size: 16px;
color: #212121;
opacity: 0.5;
margin-right: 90px;
text-decoration: none;
}

.print-doc:hover{
  text-decoration: none;
}



.price-doc {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #000080;
  margin-top: 30px;
}




.btn-secondary { 
  font-weight: 500; 
  font-size: 14px; 
  letter-spacing: 0.01em; 
  color: white; 
  background: darkblue; 
  background: #FF8C00; 
  border-radius: 50px; 
  padding: 17px 28px;
  transition: all 0.3s; 
  border: none;
  margin-top: 20px;
} 
.btn-secondary:hover { 
  background: #080080; 
  transition: all 0.3s; 
  color: #ffff; 
} 

.hr-doc {
  width: 80%;
  height: 1px;
  background: #000080;
  opacity: 0.3;
}


.order-doc {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 37px;
}

.order-doc::before{
  margin-right: 5px;
  content: url(../assets/img/russ1.png);

}

.apparea-ru {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333333;
  display: flex;
  margin-bottom: 19px;
}

.apparea-ru::before {
  content: url(../assets/img/russ1.png);
  margin-right: 5px;

}

.apparea-eng {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333333;
  display: flex;
  margin-bottom: 37px;
}

.apparea-eng::before {
  content: url(../assets/img/usa1.png);
  margin-right: 5px;

}


.section-doc {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  color: #333333;
}



/**************************************
***********Footer*********************
**************************************/

.footer {
  background: #FAFAFA;
}

.footer-head {
  border-bottom: 1px solid #D0D0D0;
  padding-top: 45px;
  padding-bottom: 45px;

}

.footer-logo {
  display: flex;
}

.download-req {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #272727;
  display: flex;
  align-items: center;
}

.download-req:hover {
  text-decoration: none;
}

.download-req::before {
  content: url(../assets/img/download-req.png);

}

.footer-conf {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #272727;
  margin-top: 10px;
}

.footer-soc {
  display: block;
  margin-top: 25px;
}


.work-time {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #272727;
  display: flex;
  align-items: center;
}

.work-time::before {
  content: url(../assets/img/work-time.png);
  margin-right: 10px;
}

.work-email {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #272727;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.work-email::before {
  content: url(../assets/img/email.png);
  margin-right: 10px;
}

.work-number {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #272727;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.work-number::before {
  content: url(../assets/img/call.png);
  margin-right: 10px;
}



.footer-border-right {
  border-right: 1px solid #D0D0D0;
}

.footer-border-left {
  border-left: 1px solid #D0D0D0;
}

.adress-w, .contacts-w {
  max-width: 296px;
  margin: auto;
}


.office-city {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.office-adress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 30px;
  max-width: 279px;
}

.footer-end {
  margin-top: 35px;
  padding-bottom: 35px;
}



/*******************************      MEDIA       ***********************/

/*******************************      LG       ***********************/

@media screen and (max-width: 1200px){
  .container {
    width: 992px;
}
.icons-w {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 21px;
  margin-bottom: 22px;
}

.footer-border-left {
  border: none;
}

}


/*******************************      MD       ***********************/

@media screen and (max-width: 992px){
  .container {
    width: 768px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #333333;


}

.cards-news {
  padding-bottom: 65px;
  display: flex;
  justify-content: start;
  /* max-width: 100%; */
}

}
/*******************************      SM       ***********************/

@media screen and (max-width: 768px){
  .container {
    width: 600px;
}


.doctype-doc{
  flex-wrap: wrap;
}

.price-doc {
  margin-top: 10px;
}

.print-doc {
margin-right: 35px;
}

.footer-soc {

  margin-bottom: 25px;
 
}

}

/*******************************      XS       ***********************/

@media screen and (max-width: 600px){
  .container {
    width: 420px;
}

.content-news p {

  padding-right: 0;

}


.status-doc {
  margin-top: 14px;
}

}


@media screen and (max-width: 421px){
  .container {
    width: 100%;
}

.square {
  margin-left: auto;
  margin-right: auto;
}

.footer-border-right {
border: none;
}

.footer-logo {
  margin-bottom: 25px;
}

}

.d-none{
  display: none;
}